DATABASE_URL="postgresql://postgres:password@localhost:5432/zeira_sanctuary_db?schema=public"
MIDTRANS_SERVER_KEY="SB-Mid-server-YOUR_SERVER_KEY"
MIDTRANS_CLIENT_KEY="SB-Mid-client-YOUR_CLIENT_KEY"
MIDTRANS_IS_PRODUCTION="false"
SESSION_SECRET="your-super-secret-session-key-minimum-32-chars"
PORT=4321
HOST=0.0.0.0
